@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font1:'Open Sans', sans-serif;
$font2:'Roboto', sans-serif;
$color1:blueviolet;
$color2:orange;
$color3:chartreuse;
$gradiant1:linear-gradient(to right, blueviolet,rgb(235, 12, 186));
$white1: white;
$white2: rgba(245, 245, 245, 0.541);
$black1: black;
$black2: rgba(0, 0, 0, 0.459);






*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none ;
}
body{
    background: $color1;
    main{
        height: 300vh;
    }
}
