@media screen and (max-width:640px) {}
@media screen and (max-width:800px) {
    #navmenu{
        display: none;
    }
    #ulHamBtn{
        display: flex;
        justify-content: flex-end;
    }
    .collapseMenuOn{
        display: block;
        transition: 0.5s ease-in-out;
    }
    .collapseMenu{
        display: block;
        transition: 0.5s ease-in-out;
        
    }
};